services:
  newsaggregator:
    build:
      context: .
    restart: always
    networks:
      - main
    volumes:
     - ./appsettings.js:/app/wwwroot/appsettings.js
    environment:
      - ASPNETCORE_URLS=http://newsaggregator:5010
      # garbage collector: workstation
      - DOTNET_gcServer=0
      - Authentication__Authority=https://specop0.chickenkiller.com/auth/realms/production

networks:
  main:
    name: main
    external: true
